section.portfolio#portfolio
  .container
    h1.portfolio__title Portfolio
    p.portfolio__subtitle No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
    .portfolio__content
      a.portfolio__item.portfolio__item-slowave(href="https://allosevk.github.io/slowaveTemplate/dist/")
        .item__filter
          h2.item__title Slowave
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      a.portfolio__item.portfolio__item-specteh(href="https://allosevk.github.io/specteh/")
        .item__filter
          h2.item__title Specteh
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      a.portfolio__item.portfolio__item-balidf(href="https://allosevk.github.io/Bal-IDF/dist/")
        .item__filter
          h2.item__title Bal-IDF
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      a.portfolio__item.portfolio__item-vehicle(href="https://allosevk.github.io/Vehicle-Selection/dist/index.html")
        .item__filter
          h2.item__title Vehicle Selection
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      a.portfolio__item.portfolio__item-brain(href="https://allosevk.github.io/ContentBrain/dist/")
        .item__filter
          h2.item__title Contant Brain
          .item__tags
            span.tag Html/css
            span.tag.tag-ttn JQuery
            span.tag.tag-ttn Adaptive
            span.tag.tag-ttn Flex
      a.portfolio__item.portfolio__item-mvix(href="https://allosevk.github.io/mvix/build/")
        .item__filter
          h2.item__title MVIX
          .item__tags
            span.tag Html/css
            span.tag.tag-ttn JQuery
            span.tag.tag-ttn Adaptive
            span.tag.tag-ttn Flex
