section.portfolio#portfolio
  .container
    h1.portfolio__title Portfolio
    p.portfolio__subtitle No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.
    .portfolio__content
      .portfolio__item.portfolio__item-slowave
        .item__filter
          h2.item__title Slowave
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      .portfolio__item.portfolio__item-specteh
        .item__filter
          h2.item__title Specteh
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      .portfolio__item.portfolio__item-balidf
        .item__filter
          h2.item__title Bal-IDF
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      .portfolio__item.portfolio__item-vehicle
        .item__filter
          h2.item__title Vehicle Selection
          .item__tags
            span.tag Html/css
            span.tag JQuery
            span.tag Adaptive
      .portfolio__item.portfolio__item-brain
        .item__filter
          h2.item__title Contant Brain
          .item__tags
            span.tag Html/css
            span.tag.tag-ttn JQuery
            span.tag.tag-ttn Adaptive
            span.tag.tag-ttn Flex
