.portfolio
    padding: 0 0 10em
    font-size: 18px
    background-color: #fafafa
    color: $textColor
    &-item
        margin: 0 0 2em
    &-title
        text-transform: uppercase
        font-size: 2em
        font-weight: bold
    &-image
        background-color: transparent
        margin: 1em 0 0em
        width: 40.38em
        height: 20em
        align-self: center
    &-link
        text-decoration: none
        color: $textColor
    &__descr
        &-item
            position: relative
            overflow: visible

.portfolio__descr-slider
    &-b
        text-align: right
        width: 90%
.dots
    position: relative
    height: 1em
        

.slick
    &-dots
        & > li
            border-radius: 50%
            width: 12px
            height: 12px
            background-color: $textColor
            &.slick-active
                background-color: $activeColor