.contacts
	.container.container__col
		.container-wrap.por
			.stick.stick-contacts
		h2.contacts__title Вы можете написать мне
		p.contacts__subtitle или связаться со мной в социальных сетях
		form.contacts__form.container__wrap(action="send.php" method="post")
			.container__col
				input.contacts__form-name.contacts__form-item(type="text" name="name" placeholder="Имя*" required)
				input.contacts__form-email.contacts__form-item(type="email" name="email" placeholder="E-mail" required)
				input.contacts__form-phone.contacts__form-item(type="tel" name="phone" placeholder="+7(123)456-78-90")
			.container__col
				textarea.contacts__form-message.contacts__form-item(placeholder="Сообщение" name="message" required)
				.feedback
					a.feedback__link.contacts__icon
						include ../../img/vk.svg
					a.feedback__link.contacts__icon
						include ../../img/fb.svg
					a.feedback__link.contacts__icon
						include ../../img/google.svg
					a.feedback__link.contacts__icon
						include ../../img/upwork.svg
					a.feedback__link.contacts__icon
						include ../../img/github.svg
					a.feedback__link.contacts__icon
						include ../../img/slack.svg
			.container__col
				input.contacts__form-submit.contacts__form-item(type="button" value="Отправить")
