.contacts
	.container.container__col
		.container-wrap.por
			.stick.stick-contacts
		h2.contacts__title Вы можете написать мне
		p.contacts__subtitle или связаться со мной в социальных сетях
		form.contacts__form.container__wrap
			.container__col
				input.contacts__form-name.contacts__form-item(type="text" placeholder="Имя*")
				input.contacts__form-email.contacts__form-item(type="email" placeholder="E-mail")
				input.contacts__form-phone.contacts__form-item(type="tel")
				input.contacts__form-submit.contacts__form-item(type="button" value="Отправить")
			.container__col
				textarea.contacts__form-message.contacts__form-item(placeholder="Сообщение")
				.feedback
					a.feedback__link.contacts__icon
						include ../../img/vk.svg
					a.feedback__link.contacts__icon
						include ../../img/fb.svg
					a.feedback__link.contacts__icon
						include ../../img/google.svg
					a.feedback__link.contacts__icon
						include ../../img/upwork.svg
					a.feedback__link.contacts__icon
						include ../../img/github.svg
					a.feedback__link.contacts__icon
						include ../../img/slack.svg
