.main
    .container.container__wrap
        img.main-macbook(src="img/macbook.png", alt="")
        .main-content
            .container__col
                h1.main-content__title Front-end разработчик
                h1.main-content__title-mob Front-end</br> разработчик
                h2.main-content__descr Александр Лосев
                button.main-content__btn.main-content__btn-mob.main-content__form-item(type="submit") Оставить заявку
                div.main-content__background-mob
                form.main-content__form.container__col(name="main_form" action="dist/send.php")
                    input.main-content__name.main-content__form-item(type="text" name="name" placeholder="Имя" required)
                    input.main-content__email.main-content__form-item(type="text" name="email" placeholder="E-Mail" required)
                    textarea.main-content__message.main-content__form-item(type="text" name="message" placeholder="Сообщение" required)
                    button.main-content__btn.main-content__form-item(type="submit") Оставить заявку
        .feedback
            a.feedback__link
                include ../../img/vk.svg
            a.feedback__link
                include ../../img/fb.svg
            a.feedback__link
                include ../../img/google.svg
            a.feedback__link
                include ../../img/upwork.svg
            a.feedback__link
                include ../../img/github.svg
            a.feedback__link
                include ../../img/slack.svg
