main.main
    .container.container-col
        .main-content.pseudo.pseudo-macbook
            .container-col
                h1.main-content__title Front-end разработчик
                h2.main-content__descr Александр Лосев
                form.main-content__form.container-col(name="main_form")
                    input.main-content__form-name.main-content__form-item(type="text" placeholder="Имя")
                    input.main-content__form-email.main-content__form-item(type="text" placeholder="E-Mail")
                    textarea.main-content__form-descr.main-content__form-item(type="text" placeholder="Сообщение")
                    button.main-content__form-btn.main-content__form-item(type="submit") Оставить заявку
        .main-feedback
            a.main-feedback__link
                include ../../img/vk.svg
            a.main-feedback__link
                include ../../img/fb.svg
            a.main-feedback__link
                include ../../img/google.svg
            a.main-feedback__link
                include ../../img/upwork.svg
            a.main-feedback__link
                include ../../img/github.svg
            a.main-feedback__link
                include ../../img/slack.svg