.main
    .container.container__col
        .main-content.pseudo.pseudo-macbook
            .container__col
                h1.main-content__title Front-end разработчик
                h1.main-content__title-mob Front-end</br> разработчик
                h2.main-content__descr Александр Лосев
                button.main-content__btn.main-content__btn-mob.main-content__form-item(type="submit") Оставить заявку
                div.main-content__background-mob
                form.main-content__form.container__col(name="main_form")
                    input.main-content__name.main-content__form-item(type="text" placeholder="Имя")
                    input.main-content__email.main-content__form-item(type="text" placeholder="E-Mail")
                    textarea.main-content__message.main-content__form-item(type="text" placeholder="Сообщение")
                    button.main-content__btn.main-content__form-item(type="submit") Оставить заявку
        .feedback
            a.feedback__link
                include ../../img/vk.svg
            a.feedback__link
                include ../../img/fb.svg
            a.feedback__link
                include ../../img/google.svg
            a.feedback__link
                include ../../img/upwork.svg
            a.feedback__link
                include ../../img/github.svg
            a.feedback__link
                include ../../img/slack.svg
