.portfolio
    .container.container__col
        .container__wrap
            .stick.stick-portfolio
        .portfolio-slider
            .portfolio-item
                .container.container__col
                    span.portfolio__item-number #1
                    h3.portfolio__item-title slowave
                    p.portfolio__item-descr digital & branding agency based in London
                    img.portfolio__item-image(src="img/slowave.jpg")
                    a.portfolio__item-link Смотреть
            .portfolio-item
                .container.container__col
                    span.portfolio__item-number #1
                    h3.portfolio__item-title slowave
                    p.portfolio__item-descr digital & branding agency based in London
                    img.portfolio__item-image(src="img/slowave.jpg")
                    a.portfolio__item-link Смотреть
            .portfolio-item
                .container.container__col
                    span.portfolio__item-number #1
                    h3.portfolio__item-title slowave
                    p.portfolio__item-descr digital & branding agency based in London
                    img.portfolio__item-image(src="img/slowave.jpg")
                    a.portfolio__item-link Смотреть