.portfolio
    .container.container__col
        .container__wrap
            .stick.stick-portfolio
        h2.portfolio__title Отзывы
        .portfolio-slider
            .portfolio-item
                p.portfolio-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.portfolio-item__client -Teodor Flonta
            .portfolio-item
                p.portfolio-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.portfolio-item__client -Teodor Flonta
            .portfolio-item
                p.portfolio-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.portfolio-item__client -Teodor Flonta
        .container__wrap.portfolio__nav