.portfolio
    .container.container__col
        .container__wrap.por
            .stick.stick-portfolio
        .portfolio__descr-slider
            .portfolio__descr-item            
                .container.container__col
                    span.portfolio-number #1
                    h3.portfolio-title slowave
                    p.portfolio-descr digital & branding agency based in London
            .portfolio__descr-item            
                .container.container__col
                    span.portfolio-number #2
                    h3.portfolio-title slowave
                    p.portfolio-descr digital & branding agency based in London
            .portfolio__descr-item            
                .container.container__col
                    span.portfolio-number #3
                    h3.portfolio-title slowave
                    p.portfoli-descr digital & branding agency based in London
        .container
            .portfolio-slider
                .portfolio-item
                    .container.container__col                    
                        img.portfolio-image(src="img/slowave.jpg")
                .portfolio-item
                    .container.container__col
                        img.portfolio-image(src="img/slowave.jpg")
                .portfolio-item
                    .container.container__col
                        img.portfolio-image(src="img/slowave.jpg")
            .portfolio__descr-slider.portfolio__descr-slider-b
                a.portfolio-link(href="#1") Смотреть
                a.portfolio-link(href="#2") Смотреть
                a.portfolio-link(href="#3") Смотреть
            .dots
