.promo
    .container.container__wrap
        .promo__item.pseudo.pseudo-notebook
            h2.promo__item-title Адаптив
            p.promo__item-descr Адаптивная верстка под планшеты и мобильные устройства
        .promo__item.pseudo.pseudo-gear
            h2.promo__item-title HTML5, CSS3, jQuery
            p.promo__item-descr Использование новых технологий верстки
        .promo__item.pseudo.pseudo-discount
            h2.promo__item-title Скидка
            p.promo__item-descr При заказе сайта, скидка на дизайн
        .promo__item.pseudo.pseudo-like
            h2.promo__item-title Качество
            p.promo__item-descr Код будет выполнен качественно и точно в срок!