.review.wow
    .container.container__col
        .container__wrap.por
            .stick.stick-review
        h2.review__title Отзывы
        .review-slider
            .review-item
                p.review-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.review-item__client -Teodor Flonta
            .review-item
                p.review-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.review-item__client -Teodor Flonta
            .review-item
                p.review-item__info I worked beautifully with Aleksander on this project. He paid attention to detail, communicated well with me and finished ahead of schedule. I couldn't hope for more. I will hire him again for sure. Thanks Aleksander!
                span.review-item__client -Teodor Flonta
        .container__wrap.review__nav