* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 960px;
  margin: 0 auto; }
  .container__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.header {
  background-color: #c7eeff;
  color: #1d242b; }
  .header__contact {
    width: 12em;
    padding: 0.6em 0 0; }
  .header__nav {
    width: 30em;
    list-style: none; }
    .header__nav-item {
      text-align: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 2.4em 0; }
      .header__nav-item a {
        text-decoration: none;
        color: #1d242b; }
