* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.svg-vk {
  height: 3em; }
  .svg-vk:hover g path {
    fill: #0077c0; }
  .svg-vk g path {
    fill: #ffffff; }

.svg-fb {
  height: 3em; }
  .svg-fb:hover g path {
    fill: #0077c0; }
  .svg-fb g path {
    fill: #ffffff; }

.svg-google {
  height: 3em; }
  .svg-google:hover g path {
    fill: #0077c0; }
  .svg-google g path {
    fill: #ffffff; }

.svg-upwork {
  height: 3em; }
  .svg-upwork:hover path {
    fill: #0077c0; }
  .svg-upwork path {
    fill: #ffffff; }

.svg-github {
  height: 3em; }
  .svg-github:hover g path {
    fill: #0077c0; }
  .svg-github g path {
    fill: #ffffff; }

.svg-slack {
  height: 3em; }
  .svg-slack:hover g path {
    fill: #0077c0; }
  .svg-slack g path {
    fill: #ffffff; }

.container {
  width: 960px;
  margin: 0 auto; }
  .container__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .container__col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.pseudo {
  display: block;
  width: 100%;
  position: relative; }
  .pseudo-macbook:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/macbook.png");
    width: 710px;
    height: 584px;
    top: -170px;
    left: 145px; }
  .pseudo-notebook:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/notebook.svg");
    width: 96px;
    height: 96px;
    top: 0;
    left: 50%; }
  .pseudo-gear:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/gear.svg");
    width: 96px;
    height: 96px;
    top: 0;
    left: 50%; }
  .pseudo-discount:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/discount.svg");
    width: 96px;
    height: 96px;
    top: 0;
    left: 50%; }
  .pseudo-like:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/like.svg");
    width: 96px;
    height: 96px;
    top: 0;
    left: 50%; }
  .pseudo-avatar:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-image: url("../img/my-photo.png");
    width: 225px;
    height: 225px;
    top: -17%;
    left: 50%; }

.stick {
  width: 3px;
  background-color: #1d242b; }
  .stick-review {
    height: 8em;
    margin: 0 auto 2em; }
  .stick-portfolio {
    height: 5em;
    margin: 1em auto 1em 0; }

.header {
  background-color: #c7eeff;
  color: #1d242b; }
  .header__contact {
    width: 12em;
    padding: 0.6em 0 0;
    font-size: 18px; }
    .header__contact-item {
      display: block; }
    .header__contact-phone {
      margin: 0 0 0.3em; }
  .header__nav {
    width: 30em; }
    .header__nav-item {
      text-align: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 2.1em 0;
      text-decoration: none;
      color: #1d242b;
      font-size: 18px; }
      .header__nav-item:hover {
        color: #0077c0; }

.main {
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 5.6em 0; }
  .main-content {
    text-align: right;
    color: #fff; }
    .main-content > .container-col {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .main-content__title {
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 0.5em; }
    .main-content__descr {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 0.5em; }
    .main-content__form {
      width: 15.8em; }
      .main-content__form-item {
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        background-color: transparent;
        border: 2px solid  #fff;
        color: #fff;
        padding: 0.5em 0.8em;
        margin: 0.4em 0; }
      .main-content__form-btn {
        background-color: #fff;
        color: #1d242b;
        font-weight: bold; }
    .main-content .container__col {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .main-feedback {
    padding: 2em 0 0 4.5em; }

.promo {
  background-color: #c7eeff;
  padding: 4em 0 5em; }
  .promo__item {
    padding: 7em 0 0;
    color: #1d242b;
    text-align: center;
    width: 13.2em; }
    .promo__item-title {
      font-weight: bold;
      margin: 0 0 2em;
      font-size: 18px; }
    .promo__item-descr {
      font-size: 18px; }

.portfolio {
  padding: 0 0 10em;
  font-size: 18px;
  background-color: #fafafa;
  color: #1d242b; }
  .portfolio__item {
    margin: 0 0 2em; }
    .portfolio__item-title {
      text-transform: uppercase;
      font-size: 2em;
      font-weight: bold; }
    .portfolio__item-image {
      background-color: transparent;
      margin: 3em 0 2em;
      width: 40.38em;
      height: 20em;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    .portfolio__item-link {
      display: block;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      margin: 0 4em 0 0; }

.slick-dots > li {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #1d242b; }
  .slick-dots > li.slick-active {
    background-color: #0077c0; }

.about {
  font-size: 18px;
  background-color: #1d242b;
  padding: 7em 0 2em; }

.description-article {
  color: #fff;
  text-align: center; }
  .description-article__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff; }
  .description-article__paragraph {
    text-align: left;
    margin-bottom: 2.5em;
    line-height: 1.5em; }
    .description-article__paragraph-title {
      font-size: 18px;
      font-weight: bold; }
    .description-article__paragraph-descr {
      font-size: 18px; }
    .description-article__paragraph:last-child {
      margin: 0; }

.review {
  padding: 0 0 10em;
  font-size: 18px;
  background-color: #fafafa; }
  .review__title {
    margin: 0 auto 2em; }
  .review-item {
    text-align: right;
    margin: 0 0 2em; }
    .review-item__info {
      text-align: center;
      margin: 0 auto 2em;
      width: 77%; }
  .review__nav {
    width: 3em;
    height: 1em;
    position: relative;
    margin: 0 auto; }

.slick-dots > li {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #1d242b; }
  .slick-dots > li.slick-active {
    background-color: #0077c0; }
