footer.footer
  .container
    p.footer__copyright Coayright © 2020 Aleksander Losev. All rights reserved
    .footer__social.social
      a.social__link
        +icon("vk", "social__icon")
      a.social__link
        +icon("fb", "social__icon")
      a.social__link
        +icon("google", "social__icon")
      a.social__link
        +icon("upwork", "social__icon")
      a.social__link
        +icon("github", "social__icon")
