header.header
  .container
    .header__logo
      +icon("programmer", "header__icon")
      h3.header__title Лосев Александр
    nav.header__nav
      a.header__link(href="#start") Start
      a.header__link(href="#portfolio") Portfolio
      a.header__link(href="#contacts") Contacts
