header.header
  .container
    .header__logo
      +icon("code", "header__icon")
      h3.header__title Лосев Александр
    nav.header__nav#menu
      a.header__link(href="#start" data-menuanchor="start") Start
      a.header__link(href="#portfolio" data-menuanchor="portfolio") Portfolio
      a.header__link(href="#contacts" data-menuanchor="contacts") Contacts
