.about.pseudo.pseudo-avatar#about
    .container.container__col
        article.about__article.description-article
            h2.about__title.description-article__trtle Приветствую, меня зовут Александр Лосев!
            section.description-article__paragraph
                h3.description-article__paragraph-title О себе:
                p.description-article__paragraph-descr Уже долгое время я занимаюсь разработкой сайтов различной тематики.
                p.description-article__paragraph-descr За время своей карьеры мне удалось сотрудничать с зарубежными и отечественными компаниями.
                p.description-article__paragraph-descr В своей работе я привык соблюдать все современные стандарты, для меня важна Чистота, семантичность кода и качество выполненной работы.
            section.description-article__paragraph
                h3.description-article__paragraph-title Профессиональные навыки:
                p.description-article__paragraph-descr Верстаю по стандартам W3C (валидный код), код пишу по технологии БЭМ, Pug.
                p.description-article__paragraph-descr Соблюдаю кроссбраузерность IE 8+, Opera 10+, Chrome, FireFox 3+. Использую технологию HTML, HTML5, CSS, CSS3 ,фреймворки, Bootstrap 3 и 4, Foundation.
                p.description-article__paragraph-descr Понимаю принципы юзабилити сайтов, визуализации и проектирования пользовательских интерфейсов.
                p.description-article__paragraph-descr Знаю большое количество различных программ, таких как: Adobe Photoshop, Fast stone image viewer, Notepad++, FileZilla, Brackets (+Emmet, LiveReload)
            section.description-article__paragraph
                p.description-article__paragraph-descr В соответствии с целями вашего проекта я подключаю счетчики посещений, Яндекс.Директ, метрику и другие необходимые функции. Устанавливаю необходимые виджеты, новостные ленты, галереи, опросы, онлайн-консультанта и многое другое.