header.header
    .container
        nav.main-nav.container__wrap
            .header__contact
                a.header__phone.header__contact-item(href="tel:+79675926651") +7(967)592-66-51
                a.header__email.header__contact-item(href="mailto:al.losev.k@gmail.com") al.losev.k@gmail.com
            .header__nav.container__wrap
                a.header__nav-item(href="#portfolio") Портфолио
                a.header__nav-item(href="#about") Обо мне
                a.header__nav-item(href="#review") Отзывы
                a.header__nav-item(href="#contact") Контакты
