header.header
    .container
        nav.main-nav container__wrap
            .header__contact
                span.header__contact-phone.header__contact-item +7(967)592-66-51
                span.header__contact-email.header__contact-item al.losev.k@gmail.com
            .header__nav.container__wrap
                a.header__nav-item(href="#portfolio") Портфолио
                a.header__nav-item(href="#about") Обо мне
                a.header__nav-item(href="#review") Отзывы
                a.header__nav-item(href="#contact") Контакты