.pseudo
    display: block
    width: 100%
    position: relative
    &-macbook
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/macbook.png')
            width: 710px
            height: 584px
            top: -170px
            left: 145px