.pseudo
    display: block
    width: 100%
    position: relative
    &-macbook
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/macbook.png')
            width: 710px
            height: 584px
            top: -170px
            left: 145px
    &-notebook
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/notebook.svg')
            width: 96px
            height: 96px
            top: 0
            left: 50%
    &-gear
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/gear.svg')
            width: 96px
            height: 96px
            top: 0
            left: 50%
    &-discount
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/discount.svg')
            width: 96px
            height: 96px
            top: 0
            left: 50%
    &-like
        &:before
            content: ''
            position: absolute
            transform: translate(-50%, 0)
            background-repeat: no-repeat
            background-image: url('../img/like.svg')
            width: 96px
            height: 96px
            top: 0
            left: 50%