.svg
    &-vk
        height: 3em
        &:hover
            & g path
                fill: $activeColor
        & g path
            fill: #ffffff
    &-fb
        height: 3em
        &:hover
            & g path
                fill: $activeColor
        & g path
            fill: #ffffff
    &-google
        height: 3em
        &:hover
            & g path
                fill: $activeColor
        & g path
            fill: #ffffff
    &-upwork
        height: 3em
        &:hover
            & path
                fill: $activeColor
        & path
            fill: #ffffff
    &-github
        height: 3em
        &:hover
            & g path
                fill: $activeColor
        & g path
            fill: #ffffff
    &-slack
        height: 3em
        &:hover
            & g path
                fill: $activeColor
        & g path
            fill: #ffffff