.portfolio {
  .container {
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    margin: 0;
    color: $indigo;
  }

  &__subtitle {
    font-size: 28px;
    color: $indigo;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(2, 15em);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @include media-tablet-horizontal {
      grid-template-rows: repeat(3, 15em);
      grid-template-columns: 1fr 1fr;
    }

    @include media-tablet {
      grid-template-rows: repeat(6, 15em);
      grid-template-columns: 1fr;
    }
  }

  &__item {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // width: 410px;
    // height: 280px;
    border-radius: 15px;
    box-shadow: 0 0px 25px rgba(250,250,250,.19),0 0px 50px rgba(250,250,250,.22);
    transition: box-shadow .7s;
    transition: margin .3s;
    margin: 0;

    @include media-tablet-horizontal {
      // width: 380px;
    }

    &-slowave {
      background: url("../img/Slowave.jpg") no-repeat 0 0 /100% 100%;
    }

    &-specteh {
      background: url("../img/SpeTech.jpg") no-repeat 0 0 /100% 100%;
    }

    &-balidf {
      background: url("../img/Bal-IDF.jpg") no-repeat 0 0 /100% 100%;
    }

    &-vehicle {
      background: url("../img/Vehicle Selection.jpg") no-repeat 0 0 /100% 100%;
    }

    &-brain {
      background: url("../img/Content Brain.jpg") no-repeat 0 0 /100% 100%;
    }

    &-mvix {
      background: url("../img/mvix.jpg") no-repeat 0 0 /100% 100%;
    }

    &:hover {
      box-shadow: 0 0px 25px $orange,0 0px 50px rgba(250,250,250,.22);

      .item {
        &__title {
          visibility: visible;
        }
        &__tags {
          visibility: visible;
        }
        &__filter {
          visibility: visible;
        }
      }
    }
  }
}

.item {
  &__title {
    visibility: hidden;
    grid-row: 1;
    margin: 0;
    color: $orange;
    font-size: 35px;
  }

  &__tags {
    visibility: hidden;
    grid-row: 3;
    color: $orange;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    overflow: hidden
  }

  &__filter {
    visibility: hidden;
    padding: 20px;
    display: grid;
    grid-template-rows: 30px 1fr 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 57, 96, .9);
    border-radius: 15px;
  }
}

.tag {
  margin-right: 8px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 15px;
  background: $indigo;
  color: $orange;
  border-radius: 3px;

  &-ttn {
    text-transform: none;
  }

  &:nth-child(2n) {
    background: $github;
  }

  &:nth-child(3n) {
    background: $vk;
  }

  &:nth-child(4n) {
    background: $google;
  }
}
