include ../modules/head
+head('losev portfolio')
body
    include ../modules/header
    main
        include ../modules/main
        include ../modules/promo
        //include ../modules/portfolio
        include ../modules/about
        include ../modules/reviews
    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")