.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-code {
	font-size:(52.3/10)*1rem;
	width:(52.3/52.3)*1em;
}
.icon-fb {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-github {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-google {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-programmer {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-slack {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-upwork {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-vk {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
