// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;



$font: "IBM Plex Sans", sans-serif;


$green: #303960;
$yellow: #fa744f;
$white: #f4f6ff;
$black: #e5e5e5;
$vk: #45668e;
$fb: #45668e;
$google: #dd4b39;
$upwork: #6fda44;
$git: #913399;
